<%
    const baseUrl = '/';
    const addProductUrl = '/admin/add-product';
    const routes = [
        { url: '/', name: 'Shop' },
        { url: '/products', name: 'Products' },
        { url: '/cart', name: 'Cart' },
        { url: '/orders', name: 'Orders' },
        { url: '/admin/add-product', name: 'Add Products' },
        { url: '/admin/products', name: 'Admin Products' },
    ];
%>

<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <% for (r of routes) { %>
                <li class="main-header__item">
                    <a href="<%= r.url %>" class="<%= path === r.url ? 'active' : '' %>"><%= r.name %></a>
                </li>
            <% } %>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <% for (r of routes) { %>
            <li class="mobile-nav__item">
                <a href="<%= r.url %>" class="<%= path === r.url ? 'active' : '' %>"><%= r.name %></a>
            </li>
        <% } %>
    </ul>
</nav>
