<!doctype html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
</head>
<body>
    <%- include('../includes/navigation') %>
    <main>
        <% if (orders.length) { %>
            <ul class="orders">
                <% orders.forEach((order) => { %>
                    <li class="orders__item">
                        <h1>Order - # <%= order._id %></h1>
                        <ul class="orders__products">
                            <% order.items.forEach((item) => { %>
                                <li class="orders__products-item"><%= item.title %> (<%= item.quantity %>)</li>
                            <% }) %>
                        </ul>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <h1>Nothing there!</h1>
        <% } %>
    </main>
    <%- include('../includes/end') %>
</body>
</html>
